$small: 490px;
$medium: 900px;

body {
  margin: 0;
  padding: 0;
}

.app {
  .app-title {
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #2b3b48;
    margin-bottom: 2rem;
  }

  .exchangerateCard {
    .flag {
      width: 45px;
      height: 31px;
      margin: 3px 14px 0px 1px;
      object-fit: contain;
    }

    .text-type-title {
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: #2b3b48;
    }
    .text-title {
      font-family: Roboto;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #4f6477;
      white-space: nowrap;
    }
    .text-type-description {
      font-family: Roboto;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: right;
      white-space: nowrap;
      color: #2b3b48;
    }
    .text-description {
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: right;
      color: #54738d;
    }
    .m-30 {
      margin-left: 30px;
    }
  }
  .line {
    opacity: 0.3;
    background-color: #bac9d5;
  }
  .rectangle {
    height: 288px;
    color: white;
    padding: 19px 20px 26px;
    background-image: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
    text-align: center;
    border-radius: 5px;

    .rectangle-title {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.7;
      letter-spacing: normal;
      color: #fff;
    }
    .change-button {
      width: 44px;
      margin: auto;
      cursor: pointer;
      svg {
        font-size: 32px;
      }
    }
  }
  .footer-buttons {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $small) {
      display: contents !important;
    }
    .btn-detay {
      background-color: #2b3b48;
      font-family: Roboto;
      font-size: 15px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.94px;
      height: 48px;
      text-align: center;
      color: #fff;
      white-space: nowrap;
      height: 48px;
      border: 0px;
      border-radius: 3px;
    }
    .btn-all {
      background-color: #fff;
      border: solid 2px #4f6477;
      font-family: Roboto;
      font-size: 15px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      height: 48px;
      letter-spacing: 0.94px;
      text-align: center;
      white-space: nowrap;
      color: #2b3b48;
      border-radius: 3px;
    }
    .space {
      margin: 10px;
    }
  }
}
